mixin featuresCard(extraClass, title,  iconClass)
  div(class= `features__card ${extraClass}`)
      div(class= `icon ${iconClass}`)
      h3.features__card__title= title
      p.features__card__content.
          Slate helps you see how many
          more days you need to work
          to reach your financial goal
          for the month and year.
      a(href='#') learn more

