include features-card
section.features
  h2.features__title  FigmaLand was Built Specifically for You
  +featuresCard('management', 'Management', 'light')
  +featuresCard('support', 'Customer Support', 'atom')
  +featuresCard('collaborative', 'Collaborative', 'frame')