include features-card
section.features
  h2.features__title  FigmaLand was Built Specifically for You
  .features__cards
    +featuresCard('management', 'Management', 'light')
    +featuresCard('support', 'Customer Support', 'atom')
    +featuresCard('collaborative', 'Collaborative', 'frame')