footer.footer
  .footer__menu
      ul.footer__menu__left
          li Price Item One
          li Price Item Two
          li Price Item Three
      ul.footer__menu__right
          li Price Item One
          li Price Item Two
          li Price Item Three
  p.footer__paragraph Just type what's on your mind
  .footer__map
     img(src="assets/map.png" alt="map" width="335" height="248")
  .footer__contacts
     .address
         p #[span.map-marker] 7480 Mockingbird Hill undefined
         p #[span.phone-icon] (239) 555-0108
     ul.social
         a(href="https://twitter.com/" target="_blank" rel="noopener noreferrer")
           li.twitter
         a(href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer")
           li.facebook
         a(href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer")
           li.linkedin