include pricing-card
section.pricing
  h2.pricing__title Simple Pricing for Your Team
  p.pricing__paragraph.
      Slate helps you see how many
      more days you need
  .pricing__cards
    +pricingCard("Education", "assets/education.png", "education", "0", "education")
    +pricingCard("Professional", "assets/professional.png", "professional", "10", "professional")
    +pricingCard("Business", "assets/business.png", "business", "99", "business")
