include button
section.process
  .process__description
    h2.process__title Quick & Easy Process
    p.process__paragraph.
      Most calendars are designed for teams.
      Slate is designed for freelancers who
      want a simple way to plan
      their schedule.
  .process__screen
      img(src="assets/process-screen.png" alt="process screenshot" width="578" height="548")
  .process__buttons
      +button('#', 'cyan', 'sign up for free')
      +button('#', 'cyan-border', 'find out more')

