include button
section.solution
  h2.solution__title Perfect solution for small businesse
  p.solution__paragraph.
      Being a freelancer is a rollercoaster of
      emotions. We built Slate to keep your
      freelance business less stressful....
  .solution__screen
      img(src="assets/solution-screen.png" alt="solution screenshot" width="463" height="282")
  .solution__buttons
      +button("#", "cyan-fat", "sign up for free")
      +button("#", "cyan-border-fat", "find out more")
