include button
section.solution
  .solution__description
    h2.solution__title Perfect solution for small businesse
    p.solution__paragraph.
      Being a freelancer is a rollercoaster of
      emotions. We built Slate to keep your
      freelance business less stressful....
  .solution__screen
      img(src="assets/solution-screen-desktop.png" alt="solution screenshot" width="824" height="607" class="desktop-img")
  .solution__buttons
      +button("#", "cyan-fat", "sign up for free")
      +button("#", "cyan-border-fat", "find out more")
