section.subscribe
  h2.subscribe__title subscribe
  p.subscribe__paragraph Subscribe to get exclusive news & offer
  form.subscribe__form
    input(type="text" placeholder="Enter Your Address Email")
    button(type="submit") Subscribe