include button
section.type-features
  .type-features__description
    h2.type-features__title OpenType features and Variable fonts
    p.type-features__paragraph.
      Most calendars are designed for teams.
      Slate is designed for freelancers who
      want a simple way to plan
      their schedule.
    a.type-features__link LEARN MORE
  .type-features__screen
      img(src="assets/type-features-screen.png" alt="type features screenshot" width="579" height="600")
  .type-features__button
      +button('#', 'cyan-mini', 'Button')

