.btn {
  display: block;
  padding: 18px 0;
  width: 252px;
  margin: 0 auto;
  border-radius: 39px;
  text-align: center;
  //typography
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.2px;
}

.white {
  margin-top: 55px;
  background-color: white;
  color: #112D57;
}

.ghost {
  margin-top: 13px;
  background-color: transparent;
  border: 1px solid #ffffff;
}

.cyan {
  background-color: #03D6F3;
  width: 338px;
  &-mini {
    background-color: #03D6F3;
    width: 147px;
  }
  &-fat {
    width: 294px;
    background-color: #03D6F3;
    padding: 30px 0;
  }

  &-common {
    background-color: #03D6F3;
    padding: 18px 0;
    width: 94%;

  }
}

.cyan-border {
  width: 338px;
  margin-top: 22px;
  border: 1px solid #03D6F3;
  color: #03D6F3;
  &-fat {
    width: 294px;
    margin-top: 22px;
    padding: 30px 0;
    border: 1px solid #03D6F3;
    color: #03D6F3;

  }
}