.btn {
  display: block;
  padding: 18px 0;
  width: 252px;
  margin: 0 auto;
  border-radius: 39px;
  @include button-typography;
  text-align: center;

}

.white {
  margin-top: 55px;
  background-color: $white;
  color: $darkblue;
}

.ghost {
  margin-top: 13px;
  background-color: transparent;
  border: 1px solid $white;
}

.cyan {
  background-color: $cyan;
  width: 338px;
  &-mini {
    background-color: $cyan;
    width: 147px;
  }
  &-fat {
    width: 294px;
    background-color: $cyan;
    padding: 30px 0;
  }

  &-common {
    background-color: $cyan;
    padding: 18px 0;
    width: 94%;

  }
}

.cyan-border {
  width: 338px;
  margin-top: 22px;
  border: 1px solid $cyan;
  color: $cyan;
  &-fat {
    width: 294px;
    margin-top: 22px;
    padding: 30px 0;
    border: 1px solid $cyan;
    color: $cyan;

  }
}