* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins', sans-serif;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.hidden {
  display: none;
}

@mixin button-typography {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.2px;
  text-align: left;
}

@mixin title-typography {
  font-size: 46px;
  font-style: normal;
  font-weight: 500;
  line-height: 57px;
  letter-spacing: 0.2px;
  text-align: center;
}

@mixin paragraph-typography {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: center;
}

@mixin image-sizes {
  width: 100%;
  height: auto;
}