.features {
  width: 100%;
  height: auto;
  padding: 60px;
  margin-top: 47px;
  text-align: center;

  &__title {
    width: 282px;
    margin: 0 auto;
    @include title-typography;
  }

  &__cards {
    margin-top: 45px;
  }

  &__card {
    width: 401px;
    margin: 64px auto 0;
    padding: 42px 60px 50px;
    border-radius: 10px;
    border: 1px solid $lightgray;
    box-shadow: 0 4px 31px 0 $shadowgray;

    &:first-child {
      margin-top: 0;
    }

    .icon {
      width: 62px;
      height: 62px;
      margin: 0 auto 22px;

      &.light {
        background: url("assets/light.svg") 0 0 no-repeat;
      }

      &.atom {
        background: url("assets/atom.svg") 0 0 no-repeat;
      }

      &.frame {
        background: url("assets/frame.svg") 0 0 no-repeat;
      }
    }

    &__title {
      @include card-title-typography;

    }

    &__content {
      width: 281px;
      margin: 30px auto;
      color: $darkgray;
      @include card-content-typography;
    }

    a {
      color: $cyan;
    }

    &.support {
      width: 406px;
      box-shadow: none;
      @include gradient;
      color: $white;

      p {
        color: $white;
      }

      a {
        color: $white;
      }
    }

  }
}