.footer {
  width: 100%;
  height: auto;
  background-color: $darkblue;
  margin-top: 47px;
  padding: 52px 18% 86px 18%;
  color: $white;

  &__menu {
    display: flex;
    justify-content: space-between;


    ul {
      list-style: none;
      @include card-content-typography;
      font-size: 15px;

      li {
        margin-top: 20px;
      }
    }
  }

  &__paragraph {
    margin-top: 66px;
    @include price-description-typography;
  }

  &__map {
    width: 334px;
    margin: 87px auto 0;
   img {
     width: 100%;
     height: auto;
   }

  }

  &__contacts {
    margin-top: 97px;

    p {
      display: flex;
      align-items: center;
      @include card-content-typography;
      font-size: 15px;
      text-align: left;

      .map-marker {
        display: inline-block;
        width: 46px;
        height: 46px;
        background: url("assets/marker.svg") 0 0 no-repeat;
      }

      &:last-child {
        margin-top: 20px;
      }

      .phone-icon {
        display: inline-block;
        width: 46px;
        height: 46px;
        background: url("assets/phone.svg") 10px 10px no-repeat;

      }

    }

    .social {
      display: flex;
      list-style: none;
      margin-top: 45px;

      li {
        display: block;
        width: 34px;
        height: 34px;
        margin-left: 35px;

        &.twitter {
          background: url("assets/twitter.svg") 0 0 no-repeat;
          margin-left: 0;
        }

        &.facebook {
          background: url("assets/facebook.svg") 0 0 no-repeat;
        }

        &.linkedin {
          background: url("assets/linkedin.svg") 0 0 no-repeat;
        }
      }
    }
  }
}