.hero {
  width: 100%;
  height: auto;
  padding: 25px 5%;
  //appearance
  background: linear-gradient(45deg, #37BDA6, #CB1AE8);

  &__header {
    margin-bottom: 79px;
    display: flex;
    justify-content: space-between
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__menu {//переделать
    position: absolute;
    top: 90px;
    left: 80%;
    background-color: #CB1AE8;
    list-style: none;
    padding: 10px 15px;
    z-index: 1000;

    li {
      margin-top: 5px;
    }
  }

  &__menu-buttons {
    display: flex;
    align-items: center;
  }

  &__menu-btn {
    width: 44px;
    height: 27px;
    margin-left: 25px;
    background: url("assets/burger.svg");
    cursor: pointer;
  }

  &__sign-up {
    display: inline-block;
    padding: 18px 29px;
    border: 1px solid #ffffff;
    border-radius: 39px;
   @include button-typography;
  }

  &__promo-title {
    margin: 0 auto;
    width: 77%;
    color: #ffffff;
    @include title-typography;
  }

  &__promo-subtitle {
    margin: 27px auto 0;
    width: 77%;
    color: #ffffff;
    @include paragraph-typography;
  }

  &__screen {
    width: 78%;
    height: auto;
    margin: 95px 11% 50px 11%;
    img {
      @include image-sizes;
    }
  }
}

