@media (min-width: 992px) {
  .hero {
    &__menu {
      display: flex;
      position: static;
      background-color: transparent;
      box-shadow: none;
      border-radius: 0;

      li {
        margin-left: 51px;
      }
    }

    &__menu-btn {
      display: none;
    }

    &__promo-title {
      width: 631px;
      margin-top: 174px;
      font-size: 55px;
      font-style: normal;
      font-weight: 900;
      line-height: 66px;
      letter-spacing: 0.2px;
      text-align: center;
    }

    &__promo-subtitle {
      width: 462px;
    }

    &__buttons {
      display: flex;
      justify-content: space-between;
      width: 400px;
      align-items: center;
      margin: 71px auto 0;
    }

  }

  .features {
    margin-top: 51px;

    &__title {
      width: 765px;
    }

    &__cards {
      display: flex;
      flex-wrap: wrap;
      margin-top: 101px;
    }

    &__card {
      margin-top: 0;
    }
  }

  .process {
    margin-top: 51px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    align-items: end;
    justify-items: start;

    &__description {
      width: 100%;
      grid-column: 1/2;
    }

    &__title {
      margin-bottom: 46px;
    }

    &__buttons {
      display: flex;
      margin-top: 36px;
      align-items: center;
      justify-content: center;
      align-self: start;
      grid-column: 1/2;
      grid-row: 2/3;

    }

    &__screen {
      grid-row: 1/3;
      grid-column: 2/3;
    }

  }

  .type-features {
    margin-top: 51px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    align-items: end;
    justify-content: center;
    justify-items: start;

    &__description {
      grid-column: 2/3;
      grid-row: 1/2;
    }

    &__title {
      width: 524px;
    }

    &__paragraph {
      width: 480px;
      margin: 47px 0 55px;
    }

    &__link {
      display: none;
    }

    &__screen {
      grid-column: 1/2;
      grid-row: 1/3;
      justify-self: end;
    }

    &__button {
      margin: 0;
      grid-column: 2/3;
      grid-row: 2/3;
      align-self: flex-start;
    }
  }

  .solution {
    margin-top: 51px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);

    &__description {
      grid-row: 1/2;
      grid-column: 1/2;
    }

    &__title {
      text-align: left;
      margin: 0;
    }

    &__paragraph {
      width: 301px;
      text-align: left;
      margin: 47px 0 0;
    }

    &__screen {
      margin: 0;
      grid-row: 1/3;
      grid-column: 2/3;
    }

    &__buttons {
      display: flex;
      align-items: center;
      align-self: start;
      margin-top: 37px;
      grid-row: 2/3;
      grid-column: 1/2;
    }

  }

  .pricing {
    &__title {
      width: 674px;
    }

    &__cards {
      display: flex;
    }
  }

  .subscribe {
    &__form {
      display: flex;

      input {
        width: 284px;
        margin-bottom: 0;
        padding-left: 26px;
        text-align: left;
      }

      button {
        width: 177px;
        margin-left: 10px;
        padding: 18px 0;
        border-radius: 39px;
      }
    }
  }

  .footer {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, auto);
    align-items: center;
    padding: 0 94px 62px 94px;

    &__menu {
      grid-row: 1/2;
      grid-column: 1/2;
    }

    &__paragraph {
      grid-row: 2/3;
      grid-column: 1/2;
    }

    &__map {
      grid-row: 1/2;
      grid-column: 2/3;
    }

    &__contacts {
      grid-row: 1/2;
      grid-column: 3/4;
    }


  }


  .btn {
    width: 184px;
    margin: 0;
  }

  .white {
    margin-top: 0;
  }

  .ghost {
    margin-top: 0;
  }

  .cyan {
    margin-right: 22px;
  }

  .cyan-border {
    margin-top: 0;
  }

  .cyan-fat {
    width: 216px;
    padding: 18px 0;
  }

  .cyan-border-fat {
    width: 216px;
    padding: 18px 0;
    margin-left: 7px;
  }

}

@media (width: 1024px) {
  .collaborative {
    margin-top: 45px;
  }

  .pricing {
    padding: 60px 20px  103px 20px;

    &__card {
      width: 318px;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .type-features__link {
    margin-left: 185px;
  }

}

@media (max-width: 767px) {

}

@media (max-width: 479px) {
  .hero {
    &__logo {
      width: 130px;
      height: auto;
      img {
        width: 100%;
        height: auto;
      }
    }

  }

  .features {
    padding: 40px 30px;

    &__title {
      width: 100%;
      font-size: 42px;
    }

    &__card {
      width: 100%;
      padding: 35px 25px 50px;

      &__title {
        width: 100%;
      }

      &__content {
        width: 100%;
      }

      &.support {
        width: 100%;
      }
    }
  }

  .process {

    &__title {
      width: 100%;
    }

    &__paragraph {
      width: 100%;
    }

  }

  .type-features {
    &__title {
      width: 100%;
    }

    &__paragraph {
      width: 100%;
    }

    &__link {
     margin-left: 0;
    }

  }

  .solution {
    &__title {
      width: 100%;
    }

    &__paragraph {
      width: 100%;
    }

  }

  .pricing {
    padding: 15px;

    &__title {
      width: 100%;
    }

    &__paragraph {
      width: 100%;
    }

    &__card {
      width: 290px;
      padding: 15px;
    }
  }

  .subscribe {
    &__form {
      width: 290px;
    }
  }

  .footer {
    padding: 15px;

    &__map {
      width: 283px;
      height: auto;
      margin: 10px 0 0;

      img {
        width: 100%;
      }
    }

    &__contacts {
      margin-top: 40px;
    }
  }

  .btn {
    width: 250px;
  }

}


@media (max-width: 320px) {
  .hero {
    &__sign-up {
      font-size: 14px;
      padding: 16px 14px;
    }
  }

}