.pricing {
  width: 100%;
  height: auto;
  padding: 60px 94px  103px 94px;
  margin-top: 47px;

  &__title {
    width: 340px;
    margin: 0 auto;
    @include title-typography;
  }

  &__paragraph {
    margin-top: 22px;
    margin-bottom: 65px;
    @include card-content-typography;

  }
}