.pricing__card {
  width: 335px;
  margin: 33px auto 0;
  padding: 50px 33px 40px 40px;
  border: 1px solid #dedede;
  border-radius: 10px;

  &__title {
    @include  card-title-typography;
    font-size: 30px;
  }

  &__description {
    width: 154px;
    margin: 10px auto 0;
    color: #5C5C5C;
    @include price-description-typography;
  }

  &__image {
    margin-top: 30px;
  }

  &__price {
    width: 147px;
    margin: 28px auto 0;
    position: relative;

    .price {
      //typography
      color: #03D6F3;
      font-size: 55px;
      font-style: normal;
      font-weight: 900;
      line-height: 66px;
      letter-spacing: 0.2px;
      text-align: left;
    }

    .dollar-sign {
      position: absolute;
      top: 0;
      left: 45px;
      //typography
      color: #03D6F3;
      @include card-title-typography;
      font-size: 30px;
      text-align: left;

      &.professional {
        left: 65px;
      }

      &.business {
        left: 75px;
      }

    }

    .per-month {
      display: inline-block;
      margin-left: 10px;
      color: #5C5C5C;
      @include price-description-typography;

    }
  }

  &__features {
    text-align: center;
    margin-top: 18px;

    p {
      margin-top: 20px;
      @include card-content-typography;
      font-size: 15px;

    }
  }

  &__button {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

}