.type-features {
  width: 100%;
  height: auto;
  padding: 58px 6% 48px;
  margin-top: 47px;

  &__title {
    width: 328px;
    margin: 0 auto;
    @include title-typography;
    text-align: left;
  }

  &__paragraph {
    width: 335px;
    margin: 27px auto 0;
    color: #5C5C5C;
    @include paragraph-typography;
    text-align: left;
  }

  &__link {
    display: block;
    margin-left: 64px;
    margin-top: 27px;
    color: #000000;
    text-align: left;
  }

  &__screen {//to fix
    width: 463px;
    height: auto;
    margin-top: 70px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__button {
    margin-top: 60px;
  }
}