@import "config";
@import "hero";
@import "buttons";
@import "features";
@import "process";
@import "type-features";
@import "solution";
@import "pricing";
@import "pricing-card";
@import "subscribe";
@import "footer";

.divider {
  width: 453px;
  height: 1px;
  margin: 0 auto;
  background-color: #d2d2d2;
}